.oneTask{
  border: 1px solid blueviolet;
  border-radius: 10px;
  padding: 8px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 350px;
  height: 250px;
}
.button_3{
  /* display: flex; */
  justify-content: end;
}

.complete{
  text-decoration: line-through;
}

button{
  margin-right: 5px;
  margin-bottom: 5px;
}